* {
    box-sizing: border-box;
    background-color: #ede8e6;
    font-family:'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 72px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.container {
    width: 800px;
    padding: 32px 80px;
    display: flex;
    justify-content: center;

     /* TEMPORARY BORDER*/
     border-width: 4px;
     border-color: lightgoldenrodyellow;
     border-style: solid;
}

.settings {
    flex: 1 1 0px;

    /* TEMPORARY BORDER*/
    border-width: 4px;
    border-color: lightcyan;
    border-style: solid;
}

.grid {
    display: flex;

    /* TEMPORARY BORDER
    border-width: 4px;
    border-color: lightpink;
    border-style: solid;*/
}

.pixel {
    flex: 1;
    height: 18px;
    width: 18px;
    border-width: 0.5px;
    border-style: solid;
    border-color: black;
    background-color: white;
}

.rainbow1 {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, .5) 0%,
        rgba(255, 154, 0, .5) 10%,
        rgba(208, 222, 33, .5) 20%,
        rgba(79, 220, 74, .5) 30%,
        rgba(63, 218, 216, .5) 40%,
        rgba(47, 201, 226, .5) 50%,
        rgba(28, 127, 238, .5) 60%,
        rgba(95, 21, 242, .5) 70%,
        rgba(186, 12, 248, .5) 80%,
        rgba(251, 7, 217, .5) 90%,
        rgba(255, 0, 0, .5) 100%
    );
}

.rainbow2 {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

.grey {
    background-color: lightgrey;
}

.erase_color {
    background-color: lightpink;
}

.method_button_color {
    background-color: #9fecf0ff;
}

.grid_button_color {
    background-color: #f4d893ff;
}


/* Button configuration from https://getcssscan.com/css-buttons-examples */

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

